<!DOCTYPE html>
<html>

<head>
    <title>Python Sample Container App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .main {
            margin-left: 30px
        }
    </style>
</head>

<body>
    <div class="main">
        <h1>This is a sample containerized Python app</h1>
        {% block content %}{% endblock %}
</body>

</html>